<div class="login">
    <div class="btnInicio">
      
      <a routerLink="/courses" routerLinkActive="active">
        <button>
          <i class="fa-solid fa-house" style="color: #e9ecf1;"></i>
        </button>
      </a>
      
    </div>
    <div class="login-box">
      <h2>Iniciar Sesión</h2>
      <form (submit)="verificarUsuario()">
        <div class="user-box" [ngClass]="{'shake': loginFailed}">
          <input type="text" name="nombre" required [(ngModel)]="username">
          <label>Usuario</label>
        </div>
        <div class="user-box" [ngClass]="{'shake': loginFailed}">
          <input type="password" name="password" required [(ngModel)]="password">
          <label>Contraseña</label>
        </div>
        <div class="user-box">
          <small style="display: flex; justify-content: center;"><p style="color: white; margin-right: 10px;">¿No tienes cuenta?  </p><a class="registro" routerLink="/registro" routerLinkActive="active">registrar ahora</a></small>
        </div>
        <a class="inicio" (click)="verificarUsuario()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Iniciar Sesión
        </a>
      </form>
    </div>
  </div>
  